.App {
  text-align: center;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto auto;
  grid-template-areas: 
    
    "Allleft middle right"
    "Allleft middle right"; 
    width: 100%;
    margin-top: 3%;
}

.left {
  grid-area: left;
height: 30%;
  margin-left: 3%;
  gap: 3%;
}

.right {
  grid-area: right;

}

.left-down {
  grid-area: left-down;
  margin-top: 20%;

  
 margin-left: 3%;

}

/* .middle {
  grid-area: middle;

 margin-left: 5%;
 margin-right: 5%;

} */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  height: 3em;
}

.nav h1 {
  font-family: "Lobster", cursive;
  margin-right: auto;
}

.nav img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 25px;
}

.search-container {
  display: flex;
  flex-grow: 1; 
  justify-content: center; 
}

.search-box {
  width: 200px;
  height: 40px;
  background-color: #555;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  text-align: center;
}
.notification{
  position: 100;
text-align: center;

}