.App {
  text-align: center;
  display: grid;
  grid-template-columns: .5fr 6fr .5fr;
  grid-template-areas: 
    "left middle right"
    "left-down middle right"; 
}

.left {
  grid-area: left;
  width: 20%;
}

.right {
  grid-area: right;
  width: 20%;
}

.left-down {
  grid-area: left-down;
  width: 20%;
}

.middle {
  grid-area: middle;
  width: 80%;
 

}