.edit-profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.post {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* height: 655px; */
}

.edit-profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.edit-profile-item label {
    flex: 1;
    font-weight: bold;
}

.edit-profile-item input,
.edit-profile-item select,
.edit-profile-item textarea {
    flex: 2;
    padding: 5px;
    font-size: 16px;
}

.edit-profile-item textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #A1C398;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ACE1AF;
}

p {
    margin-top: 10px;
    color: #3e3e3e ;
}
