.navbar ul {
  list-style: none;
  padding: 3px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}

.navbar ul li {
  margin-bottom: 25px;
}

.navbar ul li a {
  color: #3e3e3e;
  text-decoration: none;
  font-size: 18px;
  /* display: flex;  */
  gap: 10%;
  align-items: center; /* لتوسيط النص والأيقونة عموديًا */
}

.navbar ul li a .fa {
  margin-right: 50%; /* يمكنك تعديل المسافة هنا */
}
