
.right-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
  width: 100%;
}

.username {
  text-align: left;
  flex-grow: 1; 
}

.friend-button {
  background-color: transparent;
  border: none;
  color: #4D869C;
  cursor: pointer;
  font-size: 20px; /* Adjust the size as needed */
}


.add-button {
  background-color: #15d4c162;
  text-align: center;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  flex-shrink: 0; 
}
