/* Search.css */
.c1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-left: 5%;
}

.c2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.c3 {
    display: flex;
    align-items: center;
    gap: 15px;
}
.c3{
    text-align: center;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.c4 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.c5 {
    display: flex;
    flex-direction: column;
}

.c6 {
    font-weight: bold;
}

.c7 {
    color: #666;
}

.c8 {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #A1C398;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.c8:hover {
    background-color: #BBBBBB ;
}

.userNameAnchor {
    text-decoration: none;
}